body{
	font-size: 30px;
}
.calculator {
	width: 580px;
	background-color:darkslateblue;
	padding: 60px;
  border-radius: 150px;
}

.inputCalculator {
	width: 415px;
	height: 100px;
	background-color: wheat;
}

input[type=button] {
	width: 100px;
	height: 100px;
	color: #fff;
	background-color: steelblue;
	border-radius: 50px;
} 
